bcrypt
bitsandbytes
cryptography
dataclasses-json
datasets
dnspython
fastapi[standard]
httpcore
httptools
httpx
huggingface-hub
joblib
jsonschema
kiwisolver
langchain
matplotlib
numpy
pandas
passlib
peft
plotly
pyarrow
pymongo
pyparsing
regex
requests
scikit-learn
scipy
sentence-transformers
setuptools
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
websockets
streamlit
python-jose
python-dotenv